.container {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: -6px;
}

.centered {
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  background-color: rgb(205, 183, 214);

}
h3{
  font-size: 25px;
  font-weight: 500;
  padding-top: 40px;

}

h1{
  font-size: 35px;
  font-weight: 700;
  margin-top: 30px;

}

h2{
  font-size: 30px;
  margin-top: 30px;

}

