.sidenav-container {
    height: auto;
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
}
.bg{
  background-color:#6a4037;

}
.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
}
.spacer{
    flex: 1 0 auto;
}
.butlog{
      color: #28272b;

}
.material-icon{
  display: flex;
  font-size: 40px;
}
::ng-deep .mat-menu-panel{
  border:1px solid #28272b;
}
span{
  cursor: pointer;

}
img{
  display: flex;
  width: 50px;
  height: auto;
}

.span:active{
  outline: none;
}

.astyle{
  color: white;
  border-bottom: solid 1px #ffffff;
  padding: 10px;
  margin-top: 10px;
}
