<mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" style="background-image: url(https://images.unsplash.com/photo-1567004170790-bbc279249dcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80);background-size: cover;">
    <mat-toolbar style="color: white;background-image: url(https://images.unsplash.com/photo-1571647520939-45c81309ba91?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80); ">Menu</mat-toolbar>
    <mat-nav-list>
      <a  class="astyle" mat-list-item>Home</a>
      <a  class="astyle" mat-list-item href="#">Services</a>
      <a  class="astyle" mat-list-item href="team">Team</a>
      <a  class="astyle" mat-list-item href="#">Portfolio</a>
      <a  class="astyle" mat-list-item href="">Blog</a>
      <a  class="astyle" mat-list-item href="about">About Us</a>
      <a  class="astyle" mat-list-item href="contactus">Contact Us</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="bg">
      <button type="button" mat-icon-button (click)="drawer.toggle()">
        <mat-icon style="color: white;" aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span routerLink='/'><img src="./assets/new logo.png" alt="logo"></span>

      <div class="spacer"></div>

      <div>

        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon style="color: white;"  class="material-icon">account_circle</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <button class="butlog" routerLink='form' mat-menu-item>Login</button>
          <button class="butlog" routerLink='signup'  mat-menu-item>Sign Up</button>
        </mat-menu>

      </div>


    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
