<!-- <div style="margin-top: 50px;text-align: center;">
  <h1>OUR ACHIEVMENTS</h1>
  <p>LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING AND TYPESETTING INDUSTRY</p>
</div> -->

  <section class="our_achievments_area" data-stellar-background-ratio="0.3" style="background-position: 100%;">
  <div class="container" fxLayout="column">
    <div class="tittle"  style="visibility: visible; animation-name: fadeInUp;">
      <h2>Our Achievments</h2>
      <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry</h4>
    </div>
    <div class="achievments_row"  fxLayoutAlign.gt-xs="center" fxLayout.gt-xs="row wrap" >
      <div class="completed">
        <i class="fa fa-connectdevelop" aria-hidden="true"></i>
        <span class="counter">800</span>
        <h6>PROJECT COMPLETED</h6>
      </div>
      <div class="completed">
        <i class="fa fa-home" aria-hidden="true"></i>
        <span class="counter">229</span>
        <h6>HOUSE RENOVATIONS</h6>
      </div>
      <div class="completed">
        <i class="fa fa-child" aria-hidden="true"></i>
        <span class="counter">1390</span>
        <h6>WORKERS EMPLOYED</h6>
      </div>
      <div class="completid">
        <i class="fa fa-trophy" aria-hidden="true"></i>
        <span class="counter">125</span>
        <h6>AWARDS WON</h6>
      </div>
    </div>
  </div>
</section>
