h1, input::-webkit-input-placeholder, button {
  transition: all 0.8s ease-in-out;
}
.bg{
  background-image: url(https://images.unsplash.com/photo-1566305977571-5666677c6e98?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=594&q=80);
  background-size: cover;
  z-index: 0.1;
  height: 93vh;
}

h1 {
  text-align: center;
  height: 100%;
  width: 100%;
  /* background: #66473d; */
  background-image: url(https://images.unsplash.com/photo-1571647520939-45c81309ba91?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
  color: white;
  line-height: 150%;
  border-radius: 3px 3px 0 0;
  box-shadow: 0 2px 5px 1px rgba(102, 71, 61, 0.2);
}
form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  width: 800px;
  box-shadow: 5px 5px 8px 3px rgba(102, 71, 61, 0.5);
  padding-bottom: 40px;
  border-radius: 3px;
  margin: auto;


}
form h1 {
  box-sizing: border-box;
  padding: 20px;
}

input {
  margin: 40px 25px;
  width: 750px;
  display: block;
  border: none;
  padding: 20px 0;
  border-bottom: solid 1px #66473d;
  transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(102, 71, 61, 0) 96%, #66473d 4%);
  background-position: -800px 0;
  background-size: 800px 100%;
  background-repeat: no-repeat;
  color: #66473d;
}

input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #66473d;
  font-size: 11px;
  transform: translateY(-20px);
  visibility: visible !important;
}

button {
  margin-top: 30px;
  font-size: 18px;
  border: none;
  background: #66473d;
  cursor: pointer;
  border-radius: 5px;
  padding: 10px;
  width: 750px;
  color: white;
  margin-left: 25px;
  box-shadow: 0 3px 6px 0 rgba(102, 71, 61, 0.5);
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(102, 71, 61, 0.5);
  transition: 0.6s;
}
.follow {
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #66473d;
  display: inline-block;
  margin: 10px calc(30px - 5px);
  white-space: nowrap;
  padding: 13px;
  box-sizing: border-box;
  color: white;
  transition: all 0.9s ease;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  box-shadow: 0 5px 6px 0 rgba(102, 71, 61, 0.2);
}

.follow i {
  margin-right: 20px;
  transition: margin-right 0.5s ease;
}

.follow:hover {
  width: 134px;
  transform: translateX(-50px);
}

.follow:hover i {
  margin-right: 10px;
}

.icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.inputPLH {
  color: #66473d;
}

.bodyform {
  height: 83vh;
}
