<div class="main">
  <div>
    <div>
      <h1>OUR SERVICES</h1>
      <p>LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING AND TYPESETTING INDUSTRY</p>
    </div>
  <div class="dis">
    <a class="a1" href="#">ALL</a>
    <a href="#">ARCHITECTURE</a>
    <a href="#">BUILDING</a>
    <a href="#">CONSTRUCTION </a>
    <a href="#">DESIGN</a>
    <a href="#">PAINTING</a>
  </div>

</div>
  <div fxLayout="row wrap" style="max-width: 1200px; margin: auto;">
    <div style="width: 350px;display: contents;">
      <div class="box3">
        <img src="assets/our1.jpg" alt="">
        <div class="box-content">
          <h3 class="title">CONSTRUCTION</h3>
          <div style="display: flex;margin-top: 100px; margin-left: 100px;">
            <span _ngcontent-olj-c19="" class="material-icons icon-image-preview">search</span>
            <span _ngcontent-hcu-c19="" class="material-icons icon-image-preview">link</span>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 380px;">
      <div class="box3">
        <img src="assets/our2.jpg" alt="">
        <div class="box-content">
          <h3 class="title">CONSTRUCTION</h3>
          <div style="display: flex;margin-top: 100px; margin-left: 100px;">
            <span _ngcontent-olj-c19="" class="material-icons icon-image-preview">search</span>
            <span _ngcontent-hcu-c19="" class="material-icons icon-image-preview">link</span>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 380px;">
      <div class="box3">
        <img src="assets/our3.jpg" alt="">
        <div class="box-content">
          <h3 class="title">CONSTRUCTION</h3>
          <div style="display: flex;margin-top: 100px; margin-left: 100px;">
            <span _ngcontent-olj-c19="" class="material-icons icon-image-preview">search</span>
            <span _ngcontent-hcu-c19="" class="material-icons icon-image-preview">link</span>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 380px;">
      <div class="box3">
        <img src="assets/our4.jpg" alt="">
        <div class="box-content">
          <h3 class="title">CONSTRUCTION</h3>
          <div style="display: flex;margin-top: 100px; margin-left: 100px;">
            <span _ngcontent-olj-c19="" class="material-icons icon-image-preview">search</span>
            <span _ngcontent-hcu-c19="" class="material-icons icon-image-preview">link</span>
          </div>
        </div>
      </div>
    </div>

    <div style="width: 380px;">
      <div class="box3">
        <img src="assets/our5.jpg" alt="">
        <div class="box-content">
          <h3 class="title">CONSTRUCTION</h3>
          <div style="display: flex;margin-top: 100px; margin-left: 100px;">
            <span _ngcontent-olj-c19="" class="material-icons icon-image-preview">search</span>
            <span _ngcontent-hcu-c19="" class="material-icons icon-image-preview">link</span>
          </div>
        </div>
      </div>
    </div>
    <div style="width: 380px;">
      <div class="box3">
        <img src="assets/our6.jpg" alt="">
        <div class="box-content">
          <h3 class="title">CONSTRUCTION</h3>
          <div style="display: flex;margin-top: 100px; margin-left: 100px;">
            <span _ngcontent-olj-c19="" class="material-icons icon-image-preview">search</span>
            <span _ngcontent-hcu-c19="" class="material-icons icon-image-preview">link</span>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
