<!-- Modal HTML -->
<div class="body form">
  <div class="contact-modal">
    <form method="post">
      <div class="modal-header">
        <h3>Send a Message</h3>
      </div>

      <input type="text" class="form-control" id="inputName" name="name" placeholder="Name" required="required">

      <input type="text" class="form-control" name="email" placeholder="Email" required="required">

      <input type="text" class="form-control" name="phone" placeholder="Phone" required="required">

      <textarea name="message" placeholder="Message" required='required'></textarea>

      <div style="padding-bottom: 20px;padding-top: 20px;margin-left: 15px;">
        <button class="butt btn-link">Cancel</button>
        <button class="butt btn-link">Submit</button>
      </div>


    </form>

  </div>

</div>
