form {
  box-sizing: border-box;
  width: 900px;
  margin: 100px auto 0;
  box-shadow: 5px 5px 8px 3px rgba(102, 71, 61, 0.5);
  border-radius: 3px;
}
.body {
  height: 83vh;
}
.form-control {
  border-color: #66473d;
  box-shadow: none;
}
input {
  margin: 30px 25px;
  width: 840px;
  display: block;
  border: none;
  padding-top: 17px;
  border-bottom: solid 1px #66473d;
  transition: all 0.8s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(102, 71, 61, 0) 96%, #66473d 4%);
  background-position: -850px 0;
  background-size: 850px 100%;
  background-repeat: no-repeat;
  color: #66473d;
}

input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
input:focus::-webkit-input-placeholder, input:valid::-webkit-input-placeholder {
  color: #66473d;
  font-size: 11px;
  transform: translateY(-20px);
  visibility: visible !important;
}
.contact-modal h3 {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 30px;
  /* background-color: #28272b; */
  background-image: url(https://images.unsplash.com/photo-1571647520939-45c81309ba91?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);

  color: white;
  height: 60px;
  padding-top: 30px;
  border-radius: 3px 3px 0 0;

}
.contact-modal .form-control, .contact-modal .btn  {
  transition: all 0.5s;
}
.contact-modal textarea {
  height: 170px;
  width: 838px;
  margin-left: 25px;
  color: #66473d;
  border: 1px solid #66473d;
}

.butt{
  background-color: #66473d;
  color: white;
  border-radius: 5px;
  margin-left: 10px;
  border: none;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
}
button:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 6px 0 rgba(102, 71, 61, 0.5);
  transition: 0.9s;
}
.contact-modal textarea {
  resize: vertical;
}
