<div fxFlex fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50px;">
  <h1>OUR TEAM</h1>
  <p>LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING AND TYPESETTING INDUSTRY</p>
  <div fxLayoutAlign="row wrap">
    <img src="assets/ourteam1.jpg" alt="">
    <div class="team-content"></div>
    <img src="assets/ourteam2.jpg" alt="">
    <div class="team-content"></div>
    <img src="assets/ourteam3.jpg" alt="">
    <div class="team-content"></div>
    <div class="team-member">

      <img src="assets/ourteam4.jpg" alt="">
      <div class="team-content">
        <ul>
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
        <a href="#" class="name">Prodip Ghosh</a>
        <h6>Founder &amp; CEO</h6>
      </div>
    </div>
  </div>
</div>
