<div>
  <div style="margin-top: 50px;">
    <h1>OUR TEAM</h1>
    <p>LOREM IPSUM IS SIMPLY DUMMY TEXT OF THE PRINTING AND TYPESETTING INDUSTRY</p>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20px" style="margin: 80px;">
    <div>
      <div class="hovereffect">
        <img class="img-responsive" src="assets/ourteam1.jpg" alt="">
        <div class="overlay">
          <h2>Jhon</h2>
          <p class="icon-links">
            <a href="#">
              <span _ngcontent-ngm-c19="" class="material-icons icon-image-preview">facebook</span>
            </a>
            <a href="#">
              <span _ngcontent-ngm-c19="" class="material-icons icon-image-preview">mail</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="hovereffect">
        <img class="img-responsive" src="assets/ourteam2.jpg" alt="">
        <div class="overlay">
          <h2>James</h2>
          <p class="icon-links">
            <a href="#">
              <span _ngcontent-ngm-c19="" class="material-icons icon-image-preview">facebook</span>
            </a>
            <a href="#">
              <span _ngcontent-ngm-c19="" class="material-icons icon-image-preview">mail</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="hovereffect">
        <img class="img-responsive" src="assets/ourteam3.jpg" alt="">
        <div class="overlay">
          <h2>Glibus</h2>
          <p class="icon-links">
            <a href="#">
              <span _ngcontent-ngm-c19="" class="material-icons icon-image-preview">facebook</span>
            </a>
            <a href="#">
              <span _ngcontent-ngm-c19="" class="material-icons icon-image-preview">mail</span>
            </a>
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="hovereffect">
        <img class="img-responsive" src="assets/ourteam4.jpg" alt="">
        <div class="overlay">
          <h2>Harry</h2>
          <p class="icon-links">
            <a href="#">
              <span _ngcontent-ngm-c19="" class="material-icons icon-image-preview">facebook</span>
            </a>
            <a href="#">
              <span _ngcontent-ngm-c19="" class="material-icons icon-image-preview">mail</span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
