<h1>Working Teams</h1>

<div class="main bg">
  <div class="container" style="margin: 10px;">
    <img src="./assets/25.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/26.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is jun</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/27.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is deny</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/28.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is dev</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/29.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/30.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>
  <div class="container" style="margin: 10px;">
    <img src="./assets/25.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/26.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/27.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/28.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/29.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/30.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>
  <div class="container" style="margin: 10px;">
    <img src="./assets/25.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/26.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/27.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/28.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/29.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/30.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>
  <div class="container" style="margin: 10px;">
    <img src="./assets/25.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/26.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/27.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/28.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/29.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/30.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>
  <div class="container" style="margin: 10px;">
    <img src="./assets/25.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/26.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/27.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/28.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/29.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>

  <div class="container" style="margin: 10px;">
    <img src="./assets/30.jpg" style="height: 300px;" alt="Avatar" class="image">
    <div class="overlay">My Name is John</div>
  </div>
</div>
