/* carasol Start */
.example-card {
  max-width: 300px;
  border-bottom: 1px solid #66473d;
  border-right: 1px solid #66473d;
  /* box-shadow: 3px 8px 8px 1px rgba(103, 58, 183, 0.5); */
  opacity: 10px;
  margin: 10px;
  text-align: center;

}
.example-card:hover {
  transform: translateY(-5px);
  box-shadow: 3px 8px 8px 1px rgba(102, 71, 61, 0.5);
  transition: 0.9s;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.matcard{
  display: flex;
  flex-direction: row;

}

/* carasol End */
